{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Welcome to UMA Jeopardy!! Game Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <link href="{% static 'css/jquery-ui.css' %}"  rel="stylesheet" >

    </head>
    <body>
      
        
        <!-- Page content-->
        <div class="container">
           
            <div>
            <div class="text-center mt-5"><h1>Welcome UMA Jeopardy!</h1></div>
            <div></div>
            
            
            <div id="ScoreCenter">
                <table class="table table-bordered text-center">
                    <tr class="thead-dark">
                        <td class="TeamHeader" style="background-color: green; color:white">Team 1</td>
                        <td class="TeamHeader" style="background-color: orange; color:white">Team 2</td>
                        <td class="TeamHeader" style="background-color: blue; color:white">Team 3</td>
                    </tr>
                    <tr>
                        <td><div class="ScoreValue">$<label id="Team1Score" class="ScoreValue text-center">0</label></div></td>
                        <td><div class="ScoreValue">$<label id="Team2Score" class="ScoreValue text-center">0</label></div></td>
                        <td><div class="ScoreValue">$<label id="Team3Score" class="ScoreValue text-center">0</label></div></td>
                    </tr>
                </table>
            </div>

            <div>
                <div id="GameTable"></div>
            </div>
        </div>
        <div id="dialog" title="Jeopardy!!" class="QuestionDialog">
            
            <div id="Question" class="text-center "></div> 
           <div id="Answer" style="display:none"  class="text-center GoldText"></div>
           <div id="Value" style="display:none"></div>
           <input type="hidden" id="QuestionID" value="" />
           
            <!-- https://www.pythonstacks.com/blog/post/create-single-page-application/ -->
        </div>
    {% comment %} </div> {% endcomment %}
          <button id="opener" style="display:none">Open Dialog</button>
        <!-- Bootstrap core JS-->
        <script type="text/javascript"  src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Core theme JS-->
        <script type="text/javascript"  src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript"  src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript"  src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/data.json' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
       
    </body>
</html>
