{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Welcome to UMA Jeopardy!!</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <link href="{% static 'css/jquery-ui.css' %}"  rel="stylesheet" >

    </head>
    <body>
        <!-- Responsive navbar-->
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>UMA Jeopardy!</h1>
            </div>
            <div id="ScoreCenter">
                <table class="table table-bordered text-center">
                    <tr class="thead-dark"><td class="TeamHeader" style="background-color: green;">Team 1</td><td class="TeamHeader" style="background-color: orange;">Team 2</td></tr>
                    <tr><td><div class="ScoreValue">$<label id="Team1Score" class="ScoreValue text-center">0</label></div></td><td><div class="ScoreValue">$<label id="Team2Score" class="ScoreValue text-center">0</label></div></td></tr>
                </table>
                
            </div>
            <div>
                <div id="GameTable"></div>
            </div>
        </div>
        <div id="dialog" title="Jeopardy!!" class="QuestionDialog">
            <!-- <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><div class="center-block"><progress style="display:none" value="0" max="10" id="progressBar"></progress></div></div>
                <div class="col-sm-4"></div>
            </div> -->
            <div id="Question" class="text-center "></div> 
           <div id="Answer" style="display:none"  class="text-center GoldText"></div>
           <div id="Value" style="display:none"></div>
           <input type="hidden" id="QuestionID" value="" />
           
            <!-- https://www.pythonstacks.com/blog/post/create-single-page-application/ -->
        </div>
           
          <button id="opener" style="display:none">Open Dialog</button>
        <!-- Bootstrap core JS-->
        <script type="text/javascript"  src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Core theme JS-->
        <script type="text/javascript"  src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript"  src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript"  src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/data.json' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
       
    </body>
</html>
